html,
body{
    height: 100%;
}

main{
    height: 85%;
}

#num{
    color:rgb(145, 214, 42);
    font-size:25px;
}

@media screen and (min-width: 767px) {
    #num{
        padding-top:5%;
        color:greenyellow;
        font-size:45px;
    }
  }