html,
body{
    height: 100%;
}

main{
    height: 85%;
}

#num{
    color:greenyellow;
    font-size:10px;
}

@media screen and (min-width: 800px) {
    #num{
        padding-top: 30%;
        color:greenyellow;
        font-size:40px;
    }
  }